__pycache__/
*.py[cod]
*$py.class

*.log
local_settings.py
db.sqlite3
media
staticfiles
.env
venv/
env/
ENV/


.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.pid
*.gz
*.swp
.DS_Store
*.egg-info/
dist/
build/

Thumbs.db
