alabaster
altgraph==0.17.4
asgiref==3.8.1
babel==2.17.0
certifi==2025.4.26
charset-normalizer==3.4.2
colorama==0.4.6
Django==4.2.21
djangorestframework==3.16.0
djangorestframework-simplejwt==5.0.0
docutils==0.18.1,<0.21
idna==3.10
imagesize==1.4.1
Jinja2==3.1.6
MarkupSafe==3.0.2
mysqlclient==2.1.0
numpy==2.2.2
oauthlib==3.2.2
packaging==25.0
pandas==2.2.3
Pillow
pefile==2023.2.7
Pygments==2.19.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2025.1
python-dateutil==2.9.0.post0
python-decouple==3.8
pytz==2025.1
pywin32-ctypes==0.2.3
requests==2.32.3
requests-oauthlib==2.0.0
roman-numerals-py==3.1.0
six==1.17.0
snowballstemmer==2.2.0
Sphinx==7.2.1
sphinx-rtd-theme==3.0.2
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.3
tweepy==4.15.0
tzdata==2025.1
urllib3==2.4.0