{% extends 'base.html' %}
{% load static %}
{% block title %}Home – TCG Trinity{% endblock %}
{% block content %}
<section class="hero">
  <div class="hero-content">
    <div class="intro">
      <h2>Welcome to Tcg Trinity</h2>
      <h4>Introductory paragraph goes here. Tcg Trinity is your source for all things trading card in Pulaski, New York!</h4>
    </div>

    <div class="facebook-embed">
      <iframe 
        src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fprofile.php%3Fid%3D61582655866448&tabs=timeline&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true" 
        width="340" 
        height="500" 
        style="border:none;overflow:hidden;border-radius:10px;" 
        scrolling="no" 
        frameborder="0" 
        allowfullscreen="true" 
        allow="autoplay; clipboard-write; encrypted-media; picture-in-picture; web-share">
      </iframe>
    </div>
  </div>
</section>
{% endblock %}
