services:
  db:
    image: mysql:8.0
    volumes:
      - db_data:/var/lib/mysql
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: ecommerce_db
      MYSQL_USER: ecommerce_user
      MYSQL_PASSWORD: password
    ports:
      - "3307:3306"

  web:
    build: .
    command: ["./wait-for-it.sh", "db:3306", "--", "bash", "-c", "python manage.py migrate && python manage.py runserver 0.0.0.0:8000"]
    ports:
      - "8000:8000"
    depends_on:
      - db
    environment:
      - DATABASE_URL=mysql://ecommerce_user:password@db:3306/ecommerce_db

volumes:
  db_data: