<!-- home.html -->

{% extends "base.html" %}
{% load static %}

{% block title %}Home | Momma's Brunch Buggy{% endblock %}

{% block content %}

  <!-- Order Ahead Banner -->
  <div class="alert alert-warning text-center mb-4 rounded-0 fw-bold" style="font-size: 1.25rem;">
    🕒 Order Ahead for Faster Pickup! <p>Phone: <a href="tel:+3155969410">(315) 596-9410</a></p>
  </div>

  <div class="jumbotron text-center">
    <div>
      <img src="{% static 'images/buggy.jpg' %}"
           height="300" width="500" alt="Momma's Brunch Buggy Food Truck" class="mx-auto d-block">
    </div>

    <div class="p-4 bg-light rounded shadow-sm mx-auto mt-3" style="max-width: 700px;">
      <p class="lead mb-0">
        We are <strong>Momma's Brunch Buggy</strong>, serving deliciousness to go! Check out our menu page to see all the amazing dishes available for purchase. Our events page will keep you informed about future MBB appearances. If you want to stay up-to-date automatically, sign up for our newsletter below or like us on Facebook! Bon Appetit!
      </p>
    </div>

    <form method="POST" action="{% url 'newsletter_signup' %}" class="mt-4">
      {% csrf_token %}
      <input type="email" name="email" placeholder="Enter your email" required
             class="form-control d-inline-block" style="max-width: 300px;">
      <button type="submit" class="btn btn-success">Sign Up for Newsletters</button>
    </form>
  </div>

  <!-- Facebook Plugin -->
  <div class="d-flex justify-content-center mt-5">
    <div class="fb-page"
         data-href="https://www.facebook.com/100075734025935"
         data-tabs="timeline"
         data-width="500"
         data-height="500"
         data-small-header="false"
         data-adapt-container-width="false"
         data-hide-cover="false"
         data-show-facepile="true">
      <blockquote cite="https://www.facebook.com/facebook" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/facebook">Facebook</a>
      </blockquote>
    </div>
  </div>

  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" 
    src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v16.0"></script>

{% endblock %}
