<!-- menu.html -->

{% extends "base.html" %}
{% load static %}

{% block title %}Menu{% endblock %}

{% block content %}

<!-- Nav tabs -->
<ul class="nav nav-tabs mb-3" id="menuTabs" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" id="breakfast-tab" data-bs-toggle="tab" data-bs-target="#breakfast" type="button" role="tab" aria-controls="breakfast" aria-selected="true">Breakfast Menu</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" id="lunch-tab" data-bs-toggle="tab" data-bs-target="#lunch" type="button" role="tab" aria-controls="lunch" aria-selected="false">Lunch Menu</button>
  </li>
</ul>

<!-- Tab panes wrapper -->
<div class="tab-content" id="menuTabsContent">

<!-- Breakfast Menu -->
  <div class="tab-pane fade show active" id="breakfast" role="tabpanel" aria-labelledby="breakfast-tab">
    <div class="menu-wrapper p-4 my-4 rounded">
      <h2 class="mt-4 mb-3">Breakfast Menu</h2>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Item</th>
            <th>Description</th>
            <th class="text-end">Price</th>
          </tr>
        </thead>
        <tbody>

          <tr>
            <td>
              <div class="d-flex align-items-center">
                <span class="menu-item-name">Build a Breakfast Sandwich</span>
                <img src="{% static 'images/breakfastsand.jpg' %}" alt="Breakfast Sandwich" width="120" class="me-2 rounded">
              </div>
            </td>
            <td>Start with a fried egg & melted cheese, add your choice of Bacon , Sausage, or Ham on a Hard roll, Bagel, English Muffin or grilled Texas Toast...</td>
            <td class="text-end">$6</td>
          </tr>

          <tr>
            <td>
              <div class="d-flex align-items-center">
                <span class="menu-item-name">Tator Tot Bowl</span>
                <img src="{% static 'images/tatortot.jpg' %}" alt="Tator Tot Bowl" width="120" class="me-2 rounded">
              </div>
            </td>
            <td>Deep fried tater tots smothered in a delicious white pepper gravy, then topped with scrambled eggs and cheese. Your choice of bacon, sausage, or ham.</td>
            <td class="text-end">$8</td>
          </tr>

          <tr>
            <td>
              <div class="d-flex align-items-center">
                <span class="menu-item-name">Stuffed Burrito</span>
                <img src="{% static 'images/burrito.jpg' %}" alt="Stuffed Burrito" width="120" class="me-2 rounded">
              </div>
            </td>
            <td>Homefries, scrambled egg, mozzarella cheese, and your choice or bacon, sausage, or ham all rolled up in a warm tortilla shell.</td>
            <td class="text-end">$7</td>
          </tr>

          <tr>
            <td>
              <div class="d-flex align-items-center">
                <span class="menu-item-name">Stuffed French Toast Sandwich</span>
                <img src="{% static 'images/frenchtoast.jpg' %}" alt="French Toast" width="120" class="me-2 rounded">
              </div>
            </td>
            <td>2 slices of French toast stuffed with egg, cheese, and your choice of meat.</td>
            <td class="text-end">$8</td>
          </tr>

        <tr>
          <td>
            <div class="d-flex align-items-center">
              <span class="menu-item-name">Pancake Puppies</span>
              <img src="{% static 'images/pancake.jpg' %}" alt="Pancake Puppies" width="120" class="me-2 rounded">
            </div>
          </td>
          <td>Deep fried pancake batter rolled in cinnamon and sugar.</td>
          <td class="text-end">$5</td>
        </tr>

        <tr>
          <td>
            <div class="d-flex align-items-center">
              <span class="menu-item-name">Cinnamon Roll</span>
              <img src="{% static 'images/bun.jpg' %}" alt="Cinnamon Roll" width="120" class="me-2 rounded">
            </div></td>
          <td>Homemade from scratch right here in our licensed kitchen! Bulk quantities available by preorder.</td>
          <td class="text-end">$3.50</td>
        </tr>

        <tr>
          <td>
            <div class="d-flex align-items-center">
              <span class="menu-item-name">Breakfast Muffin</span>
              <img src="{% static 'images/muffin.jpg' %}" alt="Breakfast Muffin" width="120" class="me-2 rounded">
            </div>
          </td>
          <td>Large blueberry or cranberry muffin.</td>
          <td class="text-end">$3</td>
        </tr>

        <tr>
          <td>
            <div class="d-flex align-items-center">
              <span class="menu-item-name">Bagels with Cream Cheese</span>
              <img src="{% static 'images/bagel.jpg' %}" alt="Bagle with Cream Cheese" width="120" class="me-2 rounded">
          </div>
          </td>
          <td>Plain, onion, or everything bagel with cream cheese.</td>
          <td class="text-end">$3</td>
        </tr>

        <tr>
          <td>
            <div class="d-flex align-items-center">
              <span class="menu-item-name">Hash Brown</span>
              <img src="{% static 'images/hash.jpg' %}" alt="Hash Brown" width="120" class="me-2 rounded">
            </div>
          </td>
          <td>Deep fried to golden brown.</td>
          <td class="text-end">$1</td>
        </tr>

        <tr>
          <td>
            <div class="d-flex align-items-center">
              <span class="menu-item-name">Orange Juice</span>
              <img src="{% static 'images/orange.jpg' %}" alt="Orange Juice" width="120" class="me-2 rounded">
            </div>
          </td>
          <td>Orange juice</td>
          <td class="text-end">$2</td>
        </tr>

        <tr>
          <td>
            <div class="d-flex align-items-center">
              <span class="menu-item-name">Milk</span>
              <img src="{% static 'images/milk.jpg' %}" alt="Milk" width="120" class="me-2 rounded">
            </div>
          </td>
          <td>Chocolate ($3) or white milk ($2) from Comley's Creamery in Mexico, NY.</td>
          <td class="text-end">$2-3</td>
        </tr>

        <tr>
          <td>
            <div class="d-flex align-items-center">
              <span class="menu-item-name">Coffee</span>
              <img src="{% static 'images/paul.jpg' %}" alt="Coffee" width="120" class="me-2 rounded">
            </div>
          </td>
          <td>12oz Paul DeLima coffee.</td>
          <td class="text-end">$2</td>
        </tr>
  </tbody>
</table>
</div>
</div>

<!-- Lunch Menu -->
  <div class="tab-pane fade" id="lunch" role="tabpanel" aria-labelledby="lunch-tab">
    <div class="menu-wrapper p-4 my-4 rounded">
      <h2 class="mt-4 mb-3">Lunch Menu</h2>
      <h6 class="mt-4 mb-3">Note: All sandwiches come with chips if no sides are ordered!</h6>
      <table class="table table-striped table-hover">
        <thead class="thead-dark">
          <tr>
            <th>Item</th>
            <th>Description</th>
            <th class="text-end">Price</th>
          </tr>
        </thead>
        <tbody>

        <tr>
          <td>
            <div class="d-flex align-items-center">
              <span class="menu-item-name">Stacked Mac Burger</span>
              <img src="{% static 'images/stacked.jpg' %}" alt="Stacked Mac Burger" width="120" class="me-2 rounded">
            </div>
          </td>
          <td>Seasoned beef burger topped with grilled macaroni and cheese and two slices of bacon. Served on a grilled hard roll. Dressed with lettuce, tomato, onion, and our house Liquid Gold Everything sauce.</td>
          <td class="text-end">$11</td>
        </tr>

        <tr>
          <td>
            <div class="d-flex align-items-center">
              <span class="menu-item-name">Smash Burger</span>
              <img src="{% static 'images/smash.jpg' %}" alt="Smash Burger" width="120" class="me-2 rounded">
            </div>
          </td>
          <td>Two 4oz beef patties grilled and topped with cheddar cheese, then dressed with tomato, lettuce, red onion, and our house Liquid Gold Everything sauce.</td>
          <td class="text-end">$10</td>
        </tr>

        <tr>
          <td>
            <div class="d-flex align-items-center">
              <span class="menu-item-name">Mushroom Swiss Burger</span>
              <img src="{% static 'images/mushroom.jpg' %}" alt="Mushroom Swiss Burger" width="120" class="me-2 rounded">
            </div>
          </td>
          <td>Grilled beef patty topped with Swiss cheese, grilled bushrooms, and onions. Served on a grilled hard roll.</td>
          <td class="text-end">$10</td>
        </tr>

        <tr>
          <td><div class="d-flex align-items-center">
              <span class="menu-item-name">Buffalo Chicken Sandwich</span>
              <img src="{% static 'images/bbq.jpg' %}" alt="Buffalo Chicken Sandwich" width="120" class="me-2 rounded">
            </div>
          </td>
          <td>Deep fried chicken breast smothered in buffalo wing sauce, then topped with bacon, pickles, and ranch dressing, all on a bed of shredded lettuce.</td>
          <td class="text-end">$10</td>
        </tr>

          <tr>
          <td><div class="d-flex align-items-center">
              <span class="menu-item-name">Garbage Bowl</span>
              <img src="{% static 'images/garbage.png' %}" alt="Garbage Bowl" width="120" class="me-2 rounded">
            </div>
          </td>
          <td>Deep fried tator tots smothered in our house made meat sauce and mac salad, then topped with a grilled beef patty, cheese, and chopped red onion. Drizzled with ketchup and mustard.</td>
          <td class="text-end">$14</td>
        </tr>

        <tr>
      <td>
        <div class="d-flex align-items-center">
      <span class="menu-item-name">Pulled Pork Mac & Cheese Sandwich</span>
      <img src="{% static 'images/pulledpork.jpg' %}" alt="Garbage Bowl" width="120" class="me-2 rounded">
    </div></td>
      <td>Smokey pulled pork topped with our homemade mac and cheese, then drizzled with BBQ sauce.</td>
      <td class="text-end">$10</td>
    </tr>

        <tr>
      <td><div class="d-flex align-items-center">
      <span class="menu-item-name">Salad of the Week</span>
      <img src="{% static 'images/salad.jpg' %}" alt="Salad of the Week" width="120" class="me-2 rounded">
    </div></td>
      <td>We start with a base of fresh garden veggies and pile on the additional toppings per the salad selection for this week. Examples include Chicken Bacon Ranch, Taco Salad, Cobb Salad, etc.</td>
      <td class="text-end">$14</td>
    </tr>

        <tr>
      <td>
        <div class="d-flex align-items-center">
      <span class="menu-item-name">Toasted BLT or BLT Wrap</span>
      <img src="{% static 'images/blt.jpg' %}" alt="Toasted BLT" width="120" class="me-2 rounded">
    </div></td>
      <td>Toasted thick cut bread toasted then slathered with mayo. Add backon, lettuce, and tomato.</td>
      <td class="text-end">$7</td>
    </tr>

        <tr>
      <td>
        <div class="d-flex align-items-center">
      <span class="menu-item-name">Cheeseburger</span>
      <img src="{% static 'images/cheeseburger.jpg' %}" alt="Cheeseburger" width="120" class="me-2 rounded">
    </div></td>
      <td>Seasoned beef patty grilled and seared to lock in all the juices. Topped off with melted cheese and served on a toasted bun.</td>
      <td class="text-end">$7</td>
    </tr>

        <tr>
      <td>
        <div class="d-flex align-items-center">
      <span class="menu-item-name">Whaley Dog</span>
      <img src="{% static 'images/whaley.jpg' %}" alt="Whaley Dog" width="120" class="me-2 rounded">
    </div></td>
      <td>Hofmann hot dog on a bed of lettuce, dill pickles, cheese, chopped onion, and topped with our Liquid Gold Everything suace.</td>
      <td class="text-end">$7</td>
    </tr>

        <tr>
      <td>
        <div class="d-flex align-items-center">
      <span class="menu-item-name">Hofmann's Hot Dog</span>
      <img src="{% static 'images/hofmann.jpg' %}" alt="Hoffman's Hot Dog" width="120" class="me-2 rounded">
    </div></td>
      <td>Grilled and served on a toasted bun.</td>
      <td class="text-end">$5</td>
    </tr>

    <tr>
  <td>
    <div class="d-flex align-items-center">
      <span class="menu-item-name">Sides</span>
      <img src="{% static 'images/pierogies.jpg' %}" alt="Garbage Bowl" width="120" class="me-2 rounded">
    </div>
  </td>
  <td>Fried Cheese Curd ($7), French Fries ($4), Parmesan Garlic Fries ($4), Deep Fried Pierogi's ($5), Macaroni Salad ($3), Mac & Cheese ($6)</td>
  <td class="text-end">&nbsp;</td>
</tr>

<tr>
  <td>
        <div class="d-flex align-items-center">
      <span class="menu-item-name">Drinks</span>
      <img src="{% static 'images/water.jpg' %}" alt="Bottled Water" width="120" class="me-2 rounded">
    </div></td>
  <td>Canned Beverages ($2), Bottled Water ($1), Fresh Brewed Unsweetened Tea 20oz ($2), Celsius Energy Drink ($3)</td>
  <td class="text-end">&nbsp;</td>
</tr>
  </tbody>
</table>
</div>
</div>
  </div>

{% endblock %}
